.main {
}

.main .inner {
  display: block;
  height: auto;
}
/* display : block을 해줘야함, 아님 flex의 영향으로 서로 옆으로 붙음 */

.main-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.main-top-slide {
  width: 65.81%;
  max-width: 770px;

  height: 40.17vw;
  max-height: 470px;

  overflow: hidden;
}

.main-top-slide a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;

  width: 100%;
  height: 100%;
  background: url("../images/b1.png") no-repeat center;
  background-size: cover;
  /* background-size에서 contain이 이상하면 cover로 간다 */
}

/* 770/1170 * 100 = 65.8119658 

<세로로 비율을 만들어 낼 때 반드시 너비가 기준
470 / 1170 * 100 = 40.1709402

*/

.main-top-banner {
  width: 31.62%;
  max-width: 370px;

  height: 40.17vw;
  max-height: 470px;
  background-color: skyblue;
  overflow: hidden;
}

.main-top-banner a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;

  /* display: block; */
  /* a 태그는 "you cannot add height to the top or bottom padding or margin of an inline element"이므로 block으로 바꿔줌 */
  width: 100%;
  height: 100%;
  background: url("../images/br.png") no-repeat center;
  background-size: cover;
}

.slide-title {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}

/* 가로의 너비
840/1170 * 100 = 71.7948%; max-width:840px
300/1170 * 100 = 25.6410%; max-width:300px
*/

.main-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}

.main-bottom h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.list-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.56%;
  margin-bottom: 60px;
}
.list-box {
  display: block;
  width: 30%;
  margin-bottom: 30px;
}

.list-box:hover .list-box-img {
  transform: translateY(-7px);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.2));
}
/*
세로의 너비

200/1170 * 100 = 17.09vw;  max-height:200px


갭의 너비
30/1170 * 100 = 2.56% -> 원래는 .list-wrap의 갭에 30프로를 줬는데 반응형을 하기 위해서
*/

.list-box-img {
  width: 100%;
  height: 17.09vw;
  max-height: 200px;
  overflow: hidden;

  margin-bottom: 24px;

  transition: all 0.2s ease-in;
}
.list-box-cate {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 18px;
}
.list-box-cate img {
  width: 24px;
  height: 24px;
}

.list-box-cate span {
  font-size: 14px;
  font-weight: 700;
  color: #e700a7;
}

.list-box-title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
  word-break: keep-all;
  line-height: 28px;
}

.list-box-day {
  font-size: 14px;
  color: #ccc;
}

.main-bottom-list {
  width: 71.79%;
  max-width: 840px;
}
.main-bottom-list-news {
}
.main-bottom-list-banner {
  overflow: hidden;
  margin-bottom: 60px;
}
.list-banner-link {
  display: block;
  width: 100%;
  height: 160px;
  background: #031efb url("../images/1pc.png") no-repeat center;
  background-size: 100%;
}
.main-bottom-list-picks {
}

.main-bottom-cards {
  width: 25.64%;
  max-width: 300px;
}

.card-link {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 330px;

  background: url("../images/p1.png") no-repeat center;
  background-size: cover;
  margin-bottom: 30px;

  overflow: hidden;

  /* 배치된 내용의 좌표(x, y)가 이동함 */
  transition: all 0.2s ease-in;
}
.card-link:hover {
  transform: translateY(-7px);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.2));
}
.card-text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 20px;

  background: rgba(0, 0, 0, 0.5);
}
.card-title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.card-count {
  display: block;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);

  color: #fff;
  font-size: 10px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 3px;
}

/* 반응형 */
@media all and (max-width: 1024px) {
  .main-top-slide {
    width: 100%;
    max-width: 100%;
    height: 100vw;
    max-height: 1240px;
  }
  .main-top-banner {
    display: none;
  }
}

/* 370/1170 * 100 = 31.6239316  */

@media all and (max-width: 1024px) {
  .main-bottom {
    flex-wrap: wrap;
  }
  .main-bottom-list {
    width: 100%;
    max-width: 100%;
  }

  .list-box {
    width: 100%;
  }

  .list-box-img {
    height: 74.21vw;
    max-height: 760px;
  }

  /* 
  760/1024 * 100 = 74.21vw;  max-height:760px
  */
  .main-bottom-cards {
    width: 100%;
    max-width: 100%;
  }
}
/* 메인 버텀 리스트에 100퍼센트를 줘서 줄내림을 위해서 flex-wrap: wrap해주는 거임 */

@media all and (max-width: 1024px) {
  .card-link {
    width: 240px;
    height: 266px;
  }
}

@media all and (max-width: 1024px) {
  .main-bottom-cards {
    width: 100%;
    max-width: 100%;
  }
  .card-link {
    width: 240px;
    height: 266px;
  }
  /* 이 부분 다시 확인해보기... 놓친듯? */
}
