.footer .inner {
  height: auto;
}
/* common에 있는 inner의 높이가 70을 무시하기 위해서 오토줌 */
.footer-top {
  padding: 30px 0;
  background: #1e1e1e;
}
.footer-logo {
  width: 121px;
  height: 20px;
  display: block;
  margin-bottom: 30px;
}
.footer-logo img {
  width: 100%;
}
.footer-top-info-dese {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
.bt-orange {
  bottom: 1px solid #fec62c !important;
  display: inline-block;
  background: #fec62c !important;
  color: #1e1e1e !important;
}
.footer-top-sitemap {
  display: flex;
  gap: 80px;
}
.footer-top-sitemap dl {
  width: 50%;
}
.footer-top-sitemap dl dt {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.footer-top-sitemap dl dd {
  margin-bottom: 30px;
}

.footer-top-sitemap a {
  display: inline-block;
  font-size: 14px;
  color: #999;

  white-space: nowrap;
}
/* 언더라인이 진짜 딱 글자 부분에만 생기기 위해서는 inline-block을 줘야함 */

.footer-top-sitemap a:hover {
  text-decoration: underline;
}
.footer-bottom {
  padding: 30px 0;
  background: #191919;
}
.copy {
  font-size: 14px;
  color: #666;
}
.sns-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.sns-list a {
  font-size: 24px;
  color: #807f80;
}
.sns-list a:hover {
  color: #ccc;
}
.rot-45 {
  font-weight: 700;
  transform: rotate(45deg);
}

@media all and (max-width: 1024px) {
  .footer .inner {
    flex-wrap: wrap;
  }
  .footer-top-info {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-top-sitemap {
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  .footer-bottom-copyright {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-bottom-sns {
    width: 100%;
  }
}
